body {
  background: #ababe7;
  font-family: monospace;
}
p {
  color: darkblue;
  border-style: groove;
  font-family: monospace;
}
h1 {
  font-weight: bold;
  color: black;
  border-style: double;
}

h2 {
  color: red;
  font-family: monospace;
}

h3 {
  color: darkblue;

}

h4 {
  color: darkblue;
  border-style: groove
}


.navbar {
  border-style: double
}


.retro-btn{
  /* filler code */  
  width: max-content;
  user-select: none; /* Standard syntax */
  padding: 2px;
  cursor: pointer;

  /* style */
  background-color: #888;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-bottom: 2px #444 solid;
  border-right: 2px #444 solid;
}

.retro-btn:active{
  background-color: #666;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  border-top: 2px #444 solid;
  border-left: 2px #444 solid;
}
