body {
  background-color: #cbffcb;
  font-family: monospace;
}
p {
  color: black;
  border-style: solid;
  border-color: forestgreen;
}
h1 {
  font-weight: bold;
  border-style: dotted
}

button {
  background-color: #79c879;
  border-style: groove
}

img {
  width: 120px;
  height: 90px;
}

.wolf {
  float: left;
  object-position: top
}

.Francis {
  float: right;
  object-position: bottom
}

.francis {
  float: right;
  width: max-content;
  user-select: none; /* Standard syntax */
  padding: 2px;
  cursor: pointer;

  /* style */
  background-color: #b6a3a3;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-bottom: 2px #444 solid;
  border-right: 2px #444 solid;
}

.francis:active{
  background-color: #666;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  border-top: 2px #444 solid;
  border-left: 2px #444 solid;

}

.retro-btn{
  /* filler code */  
  width: max-content;
  user-select: none; /* Standard syntax */
  padding: 2px;
  cursor: pointer;

  /* style */
  background-color: #b6a3a3;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-bottom: 2px #444 solid;
  border-right: 2px #444 solid;
}

.retro-btn:active{
  background-color: #666;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  border-top: 2px #444 solid;
  border-left: 2px #444 solid;

}
