body {
  background-color: #e6b6b3;
  font-family: monospace;
}
p {
  color: black;
  border-style: groove;
  border-color: brown;
  font-family: monospace;
}


h1 {
  font-weight: bold;
  border-style: dashed;
  border-color: brown;
  font-family: monospace;
}

button {
  background-color: salmon;
  font-family: monospace;
}

img {
  width:110px;
  height:60px;
  float: left;
}

#biden {
    float: right;
    object-position: bottom
}

.retro-btn{
  /* filler code */  
  width: max-content;
  user-select: none; /* Standard syntax */
  padding: 2px;
  cursor: pointer;

  /* style */
  background-color: #b6a3a3;
  border-top: 2px white solid;
  border-left: 2px white solid;
  border-bottom: 2px #444 solid;
  border-right: 2px #444 solid;
}

.retro-btn:active{
  background-color: #666;
  border-bottom: 2px white solid;
  border-right: 2px white solid;
  border-top: 2px #444 solid;
  border-left: 2px #444 solid;

}
